* {
	box-sizing: border-box;
}

/* removes default margin to document */
body {
	margin: 0;
	font-family: 'Tangerine', cursive;
	font-size: 1.8em;
	color: #F56851;
}

.nav,
.banner,
.about,
.services,
.projects,
.gallery,
.footer {
	padding: 30px;
}

.logo img {
	width: 140px;
	height: 140px;
	/*background-color: darkgrey;*/

}

.logo h4 {
	margin: 0 auto;
	text-align: center;
}

/*
*
* Navigation
*
*/

.nav {
	background-color: lightyellow;
	height: 100%;
	width: 200px;
	position: fixed;
	border-right: 1px solid #FFA200;
	/*float: left;*/
}

ul {
	padding-left: 0;
}

ul > li {
	list-style: none;
	background-color: #F56851;
	margin-bottom: 2px;
	text-align: center;
	line-height: 48px;
	/*padding: 20px;*/
}

ul > li:hover {
	background-color: lightyellow;
	border: 1px solid #F56851;
}

ul > li > a {
	text-decoration: none;
	color: white;
}

ul > li > a:hover {
	color: #F56851;
}

.main {
	background-color: grey;
	margin-left: 200px;
}

/*
*
* Banner
*
*/

.banner {
	background-color: lightyellow;
	position: relative;
	min-height: 760px;
	background-image: url("http://2.bp.blogspot.com/-McJGjLCksOU/VYxCLfBeWQI/AAAAAAAAMsc/Xs2uC72Kdu0/s1600/bread-and-wheat-3596.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	/*background-blend-mode: multiply;*/
	/*background: rgba(0, 0, 255, 0.1);*/
	/*filter: blur(2px);*/
}

.banner h1 {
	margin: 0;
	font-family: 'Tangerine', cursive;
	color: #F56851;
	/*color: lightyellow;*/
	font-size: 100px;
	text-shadow: 1px 1px lightyellow;
/* 	-webkit-text-stroke-width: 0.5px;
  	-webkit-text-stroke-color: black;*/
}

.banner h3 {
	color: white;
	font-size: 1.2em;
	text-shadow: 1px 1px saddlebrown;
}

.box {
	border: 2px dashed lightyellow;
	border-radius: 50%;
	background: rgba(139, 69, 19, 0.2);
	text-align: center;
	width: 40%;
	padding: 40px;
	position: absolute;
	top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
}

.opacity {
	/*background-color: rgba(139, 69, 19, 0.9);*/
	background-color: red;
	z-index: 3;	
}

.about {
	background-color: indianred;
	/*height: 700px;*/
	/*min-height: 700px;*/
	background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/SsLYSh45lizrfzvep/videoblocks-fresh-whole-grain-bread-on-the-wooden-table-different-bakery-bread-dolly-shot-top-view-slow-motion_sch5ysorg_thumbnail-full01.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	color: lightyellow;
}

.about p {
	text-indent: 30px;
}

/*
*
* Services
*
*
*/

.services {
	background-color: lightyellow;
	/*height: 760px;*/
	/*min-height: 300px;*/
/*	background-image: url("https://n6-img-fp.akamaized.net/free-photo/different-fresh-bread-on-old-wooden-table-and-copy-space-for-text-dark-tone_1423-280.jpg?size=338&ext=jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;*/
	color: #F56851;
}

.services h3 {
	margin-left: 5%;
}

.services p {
	margin: auto 5% 5%; /*top, leftright, bottom*/
	text-align: justify;
	text-indent: 30px;
}

.column {
	/*border: 1px solid black;*/
	width: 31%;
	margin-left: 1.16%;
	margin-right: 1.16%;
	float: left;
}

.column h3 {
	text-align: center;
}
.gallery > .column {
	border: 1px solid #F56851;
}

.services img,
.gallery img {
	width: 100%;
}

.services img {
	box-shadow: 6px 5px 15px grey;
	border-radius: 50%;
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}

.projects {
	background-color: crimson;
	min-height: 300px;
	color: white;
	background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/SsLYSh45lizrfzvep/videoblocks-fresh-whole-grain-bread-on-the-wooden-table-different-bakery-bread-dolly-shot-top-view-slow-motion_sch5ysorg_thumbnail-full01.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.projects p {
	text-indent: 30px;
}

.gallery {
	background-color: lightyellow;
	min-height: 400px;
	color: #F56851;
}

.gallery > .column {
	width: 23%;
	margin-left: 1%;
	margin-right: 1%;
}



.gallery p {
	margin: auto 5% 5%;
	text-align: justify;
	text-indent: 30px;
}

/*
*
* Footer
*
*/
.footer {
	background-color: green;
	/*height: 70px;*/
	/*min-height: 10px;*/
	position: relative;
	background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/SsLYSh45lizrfzvep/videoblocks-fresh-whole-grain-bread-on-the-wooden-table-different-bakery-bread-dolly-shot-top-view-slow-motion_sch5ysorg_thumbnail-full01.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.footer small {
	/*padding: 100px;*/
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.contact {
	float: right;
}

img[alt*="Social"] {
	width: 50px;
	height: 50px;
/*	border: 1px solid green;*/
	border-radius: 50%;
}

