/*wireframe.cc/MS5yXB - Landing Page - wireframe.cc/xbQbdz*/
/*wireframe.cc/AadbSw - News and Updates -wireframe.cc/kB1wQB*/
/*wireframe.cc/4DGjXb - Careers*/
/*wireframe.cc/RRnDvc - Membership*/
/*wireframe.cc/xAsQLT - About Us*/
/*http://colorpalettes.net/color-palette-3547/*/
/*tinyurl.com/b3nc-csp1-docs*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}

.nav-wrapper {
	padding-left: 80px;
	background-color: #b2ebf2 !important;
	background: linear-gradient(to bottom, rgba(178, 223, 219, 0) 0%, rgba(77, 182, 172, 0.65) 90%);
}

/* MAIN */
main {
	background: url("https://www.hafkon.nl/files/thumbnails/ziekenhuis-emmen-25159-13.1260x700x1.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/*background-repeat: no-repeat;*/
}

/*.card-content {
	background-color: rgba(0, 0, 0, 0.1);
}*/

.register {
	margin: 70px auto !important;
}

.card-action a {
	/*border: 1px solid white;*/
	color: white !important;
	font-weight: bolder;
	padding: 8px 25px;
	border-radius: 15px;
	background-color: #ffab40;
}

.card-action {
	padding: 24px !important;
}

.card-action a:hover {
	border: 1px solid #ffab40;
	padding: 8px 25px;
	border-radius: 15px;
	font-weight: bold;
	background: rgba(0,0,0,0.1);
	color: #ffab40 !important;
}

.card-content p {
	/*padding: 15px 0 !important;*/
	padding-top: 5px !important;
	padding-bottom: 15px !important;
	color: #006064 !important;
	font-size: 1.1em;
	/*width: 10% !important;*/
}

.card-content i {
	color: #ffab40;
	font-size: 2.2em;
}

.modal {
	/*height: 250px;*/
	/*width: 10px;*/
}

#modal1 {
	top: 25% !important;

}

.shortintro {
	background: linear-gradient(to right bottom, rgba(178, 223, 219, 0.65) 0%, rgba(255, 255, 255, 1) 80%);
	color: #006064;
	padding: 50px;
}

.center h5 {
	color:  #006064;
	padding-top: 25px;
	width: 70%;
	margin: 0 auto;
}

/* STICKY FOOTER */
.page-footer {
	background-color: #006064 !important;
}

/*.contacts {
	text-align: center;
	width: 70%;
	margin: 0 auto;
}
*/
.contacts p {
	/*float: left;*/
	text-align: center;
	/*margin: 0 10px;*/
}

.col ul > li {
	padding: 2px 0;
}

.col ul > li > a:hover {
	color: #ffab40 !important;
}

.footer-copyright {
	background-color: #004d40 !important;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}



@media only screen and (max-width: 400px) {

.nav-wrapper {
	padding-left: 0;
}

.nav-wrapper a img {
	display: block;
	margin: auto;
}

}


/* LARGE DISPLAY */
@media only screen and (min-width: 960px) {

.register {
	margin: 20px auto;
	width: 50% !important;
	float: none !important;
}

}