* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: grey;
}

.wrapper {
	background-color: #222;
	width: 80vw; /* vw = viewport width */
	/*height: 100vh;  vh = viewport height */
	margin: 0 auto;
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}

span {
	color: red;
}

h1,
hr,
p {
	margin: 25px 0;
}

p,
h1 {
	font-size: 3em;
	color: white;
}

button {
	padding: 20px;
}

input {
	display: block;
	padding: 20px;
	margin: 30px auto;
	font-size: 50px;
	text-align: center;
}