ul li {
	text-transform: capitalize;
	list-style-type:none;
}

li:before {
	content: "-";
	padding-right: 8px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

th {
	background-color: black;
	color: white;
	padding: 5px;
}

td {
	border: 1px solid black;
	padding: 5px;
}